<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoonsManga</title>
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Mitr&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css" />
    <style>
        .card:hover {
            background-size: 120% !important;
        }
    </style>
    <style>
        html,
        body {
            height: 100%;
        }

        .download-btn {
            position: absolute;
            top: 5px;
            right: 25px;
            color: white;
            background-color: black;
            padding: 3px 9px;
            border-radius: 3px;
            opacity: 0;
            transition: 0.5s;
            border: 0px;
            text-decoration: none;
        }

        .download-btn:hover {
            color: black;
            background-color: white;
        }

        .btngro:hover .download-btn {
            opacity: 1;
        }

        .page-item a {
            position: relative;
            display: block;
            padding: .5rem .75rem;
            margin-left: -1px;
            line-height: 1.25;
            color: #343a40;
            background-color: #fff;
            border: 1px solid #dee2e6;
            text-decoration: none;

        }

        .activepagi a {
            text-decoration: none;
            background-color: #343a40 !important;
            color: white;
            border-color: #343a40 !important;
        }
    </style>
</head>


<body style="font-family: 'Mitr' !important;background-color: #1b1b1b;color: white;">
    <br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>REPORT</h4>
                <% for( let i = 0; i < req.length; i++ ) { %>
                <div class="" style="background:white;color:black;padding:15px;">
                    <%= req[i].r_url %>
                    <br>
                    <p><%= req[i].r_type %> </p>
                    <p><%= req[i].r_des %> </p>
                </div>
                <br>
                <% } %>
            </div>
            <div class="col-md-4">
                <h4>LC ADD</h4>
                <div class="" style="background:white;color:black;padding:15px;">
                    url :
                    <input id="lc_url" type="text" class="form-control">
                    des :
                    <textarea name="lc_des" id="lc_des" cols="30" rows="5" class="form-control"></textarea>
                    <br>
                    <button id="sendlcbtn" onclick="sendlc()" class="btn btn-success float-right">ส่งข้อมูล</button>
                    <br>
                    <br>
                </div>
            </div>
            <div class="col-md-4">
                <h4>SETTING ADD</h4>
                <div class="" style="background:white;color:black;padding:15px;">
                    header :
                    <textarea name="s_header" id="s_header" cols="30" rows="5" class="form-control"><%- header %> </textarea>
                    footer :
                    <textarea name="s_footer" id="s_footer" cols="30" rows="5" class="form-control"><%- footer %></textarea>
                    <br>
                    <button id="sendsbtn" onclick="sends()" class="btn btn-success float-right">ส่งข้อมูล</button>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.4.4/mobile-detect.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script>
        function sends() {
            $('#sendsbtn').text('กำลังส่ง...');
            if ($('#s_header').val() == "" || $('#s_footer').val() == "") {
                alertify.set('notifier', 'position', 'top-right');
                alertify.error('กรุณาเขียนอธิบาย');
            }else {
                console.log($('#s_header').val());
                $.post("/ajax/admin/sends",
                    {
                        s_header: $('#s_header').val(),
                        s_footer: $('#s_footer').val(),
                        
                    },
                    function (data, status) {
                        alertify.set('notifier', 'position', 'top-right');
                        alertify.success('update setting success');
                        $('#exampleModal').modal('hide');
                        $('#sendsbtn').text('ส่งข้อมูล');
                        // alert("Data: " + data + "\nStatus: " + status);
                    });
            }
        }

        function sendlc() {
            $('#sendlcbtn').text('กำลังส่ง...');
            if ($('#lc_des').val() == "" || $('#lc_url').val() == "") {
                alertify.set('notifier', 'position', 'top-right');
                alertify.error('กรุณาเขียนอธิบาย');
            }else {
                $.post("/ajax/admin/sendlc",
                    {
                        lc_des: $('#lc_des').val(),
                        lc_url: $('#lc_url').val(),
                        
                    },
                    function (data, status) {
                        alertify.set('notifier', 'position', 'top-right');
                        alertify.success('เพิ่ม lc success');
                        $('#exampleModal').modal('hide');
                        $('#sendlcbtn').text('ส่งข้อมูล');
                        $('#lc_des').val('');
                        $('#lc_url').val('');
                        // alert("Data: " + data + "\nStatus: " + status);
                    });
            }
        }
    </script>
</body>

</html>