<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="th" http-equiv="content-language" />
    <meta content="th" name="geo.country" />
    <meta content="Thailand" name="geo.placename" />
    <link rel="alternate" href="https://www.moonsmanga.com/" hreflang="th" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoonsManga อ่านการ์ตูน</title>
    <meta name="description" content=" อ่านมังงะ manga แปลไทย มือถือ แอพอ่านการ์ตูน android ios iphone ipad การ์ตูนอัพเดทใหม่ทุกวัน มังฮวา">
    <meta name="keywords" content="moonsmanga อ่าน,อ่านการ์ตูน, เว็บอ่านการ์ตูน, มังงะ, มังงะแปลไทย,manga,อ่านการ์ตูนออนไลน์, แอพอ่านการ์ตูน, มือถือ,อ่านโทรศัพย์, อ่านการ์ตูน,มังฮวา">
    <link rel="icon" href="http://www.moonsmanga.com/favicon.png">
    <link rel="apple-touch-icon" href="http://www.moonsmanga.com/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="http://www.moonsmanga.com/favicon.png">

    <meta name="robots" content="noodp,noydir,index,follow,noarchive" />
    <meta property="og:locale" content="th_TH" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="www.moonsmanga.com" />
    <meta property="article:publisher" content="https://www.facebook.com/box.manga.page" />
    <meta property="fb:app_id" content="153313228407799" />

    <meta property="og:title"
        content="อ่านการ์ตูน เว็บอ่านการ์ตูน อ่านการ์ตูนออนไลน์ อ่านมังงะ manga แปลไทย - moonsmanga.com" />
    <meta property="og:description"
        content=" อ่านมังงะ manga แปลไทย app แอพอ่านการ์ตูน android ios iphone ipad การ์ตูนอัพเดทใหม่ทุกวัน" />
    <meta property="og:url" content="https://www.moonsmanga.com/" />
    <meta property="og:image" content="http://www.moonsmanga.com/favicon.png" />
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Mitr&display=swap" rel="stylesheet">
    <%- header %>
    <style>
        .card:hover {
            background-size: 120% !important;
        }
    </style>
    <style>
        .download-btn {
            position: absolute;
            top: 5px;
            right: 25px;
            color: white;
            background-color: black;
            padding: 3px 9px;
            border-radius: 3px;
            opacity: 0;
            transition: 0.5s;
            border: 0px;
            text-decoration: none;
        }

        .download-btn:hover {
            color: black;
            background-color: white;
        }

        .btngro:hover .download-btn {
            opacity: 1;
        }

        .page-item a {
            position: relative;
            display: block;
            padding: .5rem .75rem;
            margin-left: -1px;
            line-height: 1.25;
            color: #343a40;
            background-color: #fff;
            border: 1px solid #dee2e6;
            text-decoration: none;

        }

        .activepagi a {
            text-decoration: none;
            background-color: #343a40 !important;
            color: white;
            border-color: #343a40 !important;
        }
    </style>
</head>

<body style="font-family: 'Mitr' !important;">
    <%- include('include/nav_index') %>
    <!-- <div class="container" id="ontoper">
        <div class="row">
            <div class="col-md-6" style="padding-right: 5px;">
                <div class="box"
                    style="background:url('https://www.easybranches.com/feed/uploads/2020/01/d84d82a9b726e3401420530b4c0675b1.jpg');background-size: cover;background-position: center; height: 300px;width: 100%;border-radius: 8px;">
                </div>
            </div>
            <div class="col-md-6" style="padding-left: 5px;">
                <div class="box"
                    style="background:url('https://1.bp.blogspot.com/-fAP_U2PKiUs/XcrZhEJb6II/AAAAAAAARis/C5j1ANCHn2kaznkw9XaWU544CyiCTefjACLcBGAsYHQ/s640/0.jpg');background-size: cover;background-position: top; height: 150px;width: 100%;border-radius: 8px;">
                </div>
                <div class="row" style="padding-top:10px;padding-bottom:10px;">
                    <div class="col-md-6" style="padding-right: 5px;">
                        <div class="box"
                            style="background:url('https://pbs.twimg.com/media/DrMqt7AX4AAxYJI.jpg');background-size: cover;background-position: top; height: 140px;width: 100%;border-radius: 8px;">
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-left: 5px;">
                        <div class="box"
                            style="background:url('https://3.bp.blogspot.com/-vMAASUwbI1A/XLevd8GIzsI/AAAAAAAARPE/DYfLiznzN147FEWyZOg6OF3z4mXNq-u0gCLcBGAs/s1600/Assassin%2Bde%2Baru%2Bore%2Bno%2BSutetasu%2Bga%2BYuusha%2Byori%2Bmo%2BAkiraka%2Bni%2BTsuyoi%2BNodaga%2B%2528Novela%2BWeb%2Ben%2Bespa%25C3%25B1ol%2529.jpg');background-size: cover;background-position: center; height: 140px;width: 100%;border-radius: 8px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

    </div> -->
    <div class="container">
        <h1>MoonsManga</h1>
        <div class="row">
            <div class="col-md-3 col-6">
                <a href="/tags/Manhua" style="text-decoration: none;">
                    <div class="box"
                        style="padding: 15px;background: #1b1b11;;background-size: cover;background-position: center;color: white;border-radius: 4px;margin-bottom: 15px;">
                        <div style="text-align: center;">Manhua(จีน)</div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-6">
                <a href="/tags/Full Color" style="text-decoration: none;">
                    <div class="box"
                        style="padding: 15px;background: #1b1b11;;background-size: cover;background-position: center;color: white;border-radius: 4px;margin-bottom: 15px;">
                        <div style="text-align: center;">Full Color</div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-6">
                <a href="/tags/Webtoon" style="text-decoration: none;">
                    <div class="box"
                        style="padding: 15px;background: #1b1b11;;background-size: cover;background-position: center;color: white;border-radius: 4px;margin-bottom: 15px;">
                        <div style="text-align: center;">Webtoon</div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-6">
                <a href="/tags/Manhwa" style="text-decoration: none;">
                    <div class="box"
                        style="padding: 15px;background: #1b1b11;;background-size: cover;background-position: center;color: white;border-radius: 4px;margin-bottom: 15px;">
                        <div style="text-align: center;">Manhwa(เกาหลี)</div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-6">
                <a href="/tags/Based on a Novel" style="text-decoration: none;">
                    <div class="box"
                        style="padding: 15px;background: #1b1b11;;background-size: cover;background-position: center;color: white;border-radius: 4px;margin-bottom: 15px;">
                        <div style="text-align: center;">Based on a Novel</div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-6">
                <a href="/tags/Action" style="text-decoration: none;">
                    <div class="box"
                        style="padding: 15px;background: #1b1b11;;background-size: cover;background-position: center;color: white;border-radius: 4px;margin-bottom: 15px;">
                        <div style="text-align: center;">Action</div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-6">
                <a href="/tags/Fantasy" style="text-decoration: none;">
                    <div class="box"
                        style="padding: 15px;background: #1b1b11;;background-size: cover;background-position: center;color: white;border-radius: 4px;margin-bottom: 15px;">
                        <div style="text-align: center;">Fantasy</div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-6">
                <a href="/tags/Supernatural" style="text-decoration: none;">
                    <div class="box"
                        style="padding: 15px;background: #1b1b11;;background-size: cover;background-position: center;color: white;border-radius: 4px;margin-bottom: 15px;">
                        <div style="text-align: center;">Supernatural</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4><b>อัพเดทล่าสุด</b></h4>
                <div id="update4">กำลังโหลดข้อมูล</div>
            </div>
            <div class="col-md-4">
                <h4><b>เป็นที่นิยม</b></h4>
                <a href="/manga/<%= req[0].md_url %>" style="text-decoration:none;color:#343a40;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4 col-4">
                                    <div class="box"
                                        style="background:url('<%= req[0].md_image %>');background-size: cover;background-position: top; height: 70px;width: 100px;border-radius: 8px;">
                                        <span class="badge badge-danger"
                                            style="position: absolute;top:0px;border-radius: 3px 0px 0px 0px;">1</span>
                                    </div>
                                </div>
                                <div class="col-md-7 col-7"
                                    style="margin-left: 5px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                    <%= req[0].md_name %>
                                </div>
                            </div>
                </a>
                <a href="/manga/<%= req[1].md_url %>" style="text-decoration:none;color:#343a40;">
                    <div class="row" style="padding-top: 5px;">
                        <div class="col-md-1 col-1">
                            <span class="badge badge-warning"
                                style="border-radius: 3px;margin-top:7px;color: white;">2</span>
                        </div>
                        <div class="col-md-10 col-10"
                            style="margin-top: 5px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                            <%= req[1].md_name %>
                        </div>
                    </div>
                </a>
                <a href=" /manga/<%= req[2].md_url %>" style="text-decoration:none;color:#343a40;">
                    <div class="row" style="padding-top: 5px;">
                        <div class="col-md-1 col-1">
                            <span class="badge badge-success"
                                style="border-radius: 3px;margin-top:7px;color: white;">3</span>
                        </div>
                        <div class="col-md-10 col-10"
                            style="margin-top: 5px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                            <%= req[2].md_name %> </div>
                    </div>
                </a>
                <a href="/manga/<%= req[3].md_url %>" style="text-decoration:none;color:#343a40;">
                    <div class="row" style="padding-top: 5px;">
                        <div class="col-md-1 col-1">
                            <span class="badge badge-light"
                                style="border-radius: 3px;margin-top:7px;color: white;background-color: gray;">4</span>
                        </div>
                        <div class="col-md-10 col-10"
                            style="margin-top: 5px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                            <%= req[3].md_name %>
                        </div>
                    </div>
                </a>
                <a href=" /manga/<%= req[4].md_url %>" style="text-decoration:none;color:#343a40;">
                    <div class="row" style="padding-top: 5px;">
                        <div class="col-md-1 col-1">
                            <span class="badge badge-light"
                                style="border-radius: 3px;margin-top:7px;color: white;background-color: gray;">5</span>
                        </div>
                        <div class="col-md-10 col-10"
                            style="margin-top: 5px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                            <%= req[4].md_name %> </div>
                    </div>
                </a>
                <a href="/manga/<%= req[5].md_url %>" style="text-decoration:none;color:#343a40;">
                    <div class="row" style="padding-top: 5px;">
                        <div class="col-md-1 col-1">
                            <span class="badge badge-light"
                                style="border-radius: 3px;margin-top:7px;color: white;background-color: gray;">6</span>
                        </div>
                        <div class="col-md-10 col-10"
                            style="margin-top: 5px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                            <%= req[5].md_name %>
                        </div>
                    </div>
                </a>
                <a href=" /manga/<%= req[6].md_url %>" style="text-decoration:none;color:#343a40;">
                    <div class="row" style="padding-top: 5px;">
                        <div class="col-md-1 col-1">
                            <span class="badge badge-light"
                                style="border-radius: 3px;margin-top:7px;color: white;background-color: gray;">7</span>
                        </div>
                        <div class="col-md-10 col-10"
                            style="margin-top: 5px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                            <%= req[6].md_name %> </div>
                    </div>
                </a>
                <a href="/manga/<%= req[7].md_url %>" style="text-decoration:none;color:#343a40;">
                    <div class="row" style="padding-top: 5px;">
                        <div class="col-md-1 col-1">
                            <span class="badge badge-light"
                                style="border-radius: 3px;margin-top:7px;color: white;background-color: gray;">8</span>
                        </div>
                        <div class="col-md-10 col-10"
                            style="margin-top: 5px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                            <%= req[7].md_name %>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    </div>
    </div>

    <% if (session.follow_name.length > 0 && session.follow_name != undefined) { %>

    <div class=" container">
        <h4 style="float:left;">ที่ติดตาม</h4>
        <div style="float:right;margin-top: 5px;"><a href="/manga/follow"
                style="text-decoration: none;color:#1ba0e2;">ดูทั้งหมด</a>
        </div>
        <div style="clear:both;"></div>
        <div class="row">
            <% for( let i = session.follow_name.length -1; i > session.follow_name.length -7; i-- ) { %>
            <% if (session.follow_image[i]) { %>
            <div class="col-md-2 col-6" style="padding-right: 0px;">
                <a href="manga/<%= session.follow_url[i] %>" style="text-decoration: none;color: #130C11;">
                    <div class="card"
                        style="background:url('<%= session.follow_image[i] %>');background-size: cover;background-position: center; height: 240px;width: 100%;border-radius: 4px;">
                    </div>
                    <p style="margin-top: 5px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                        <strong> <%= session.follow_name[i] %> </strong><br>
                    </p>
                </a>
            </div>
            <% } %>
            <% } %>
        </div>
    </div>
    <% } %>
    <% if (session.readedmanga_name.length > 0 &&session.readedmanga_name != undefined ) { %>

    <div class="container">
        <h4 style="float:left;">อ่านล่าสุด</h4>
        <div style="float:right;margin-top: 5px;"><a href="/manga/readed"
                style="text-decoration: none;color:#1ba0e2;">ดูทั้งหมด</a>
        </div>
        <div style="clear:both;"></div>
        <div class="row">
            <% for( let i = session.readedmanga_name.length -1; i > session.readedmanga_name.length -7; i-- ) { %>
            <% if (session.readedmanga_image[i]) { %>
            <div class="col-md-2 col-6" style="padding-right: 0px;">
                <a href="manga/<%= session.readedmanga_url[i] %>" style="text-decoration: none;color: #130C11;">
                    <div class="card"
                        style="background:url('<%= session.readedmanga_image[i] %>');background-size: cover;background-position: center; height: 240px;width: 100%;border-radius: 4px;">
                    </div>
                    <p style="margin-top: 5px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                        <strong> <%= session.readedmanga_name[i] %> </strong><br>
                    </p>
                </a>
            </div>
            <% } %>
            <% } %>
        </div>
    </div>
    <% } %>



    <div class="container">
        <h4 style="float:left;">มาใหม่</h4>
        <div style="float:right;margin-top: 5px;"><a href="/manga/page/1"
                style="text-decoration: none;color:#1ba0e2;">ดูทั้งหมด</a>
        </div>
        <div style="clear:both;"></div>
        <div id="updateall">กำลังโหลดข้อมูล</div>
    </div>



    <br>
    <% for( let index = 1; index <= 172; index++ ) { %>
    <a title="มังงะ มาใหม่ หน้า <%= index %>" href="/manga/page/<%= index %>"></a>
    <% } %>
    <ul id="pagination-demo" class="justify-content-center">
    </ul>
    <br>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.4.4/mobile-detect.min.js"></script>

    <script>
        var md = new MobileDetect(window.navigator.userAgent);
        console.log(md.mobile());
        if (md.mobile() != null) {
            $('#ontoper').hide();
        } else {
        }
        $.ajax({
            url: "/ajax/index/update", success: function (result) {
                $("#update4").html(result);
            }
        });
        $.ajax({
            url: "/ajax/index/updateall", success: function (result) {
                $("#updateall").html(result);
            }
        });
    </script>
    <script
        src="https://www.jqueryscript.net/demo/Simple-Customizable-Pagination-Plugin-with-jQuery-Bootstrap-Twbs-Pagination/jquery.twbsPagination.js"></script>
    <script>
        $('#pagination-demo').twbsPagination({
            totalPages: parseInt('10'),
            startPage: 1,
            visiblePages: 5,
            initiateStartPageClick: true,
            hideOnlyOnePage: true,
            href: 'manga/page/{{number}}',
            pageVariable: '{{page}}',
            totalPagesVariable: '{{total_pages}}',
            page: null,
            first: '',
            prev: 'Previous',
            next: 'Next',
            last: '',
            loop: false,
            onPageClick: null,

            paginationClass: 'pagination',
            nextClass: 'page-item next',
            prevClass: 'page-item prev',
            lastClass: 'page-item last',
            firstClass: 'page-item first',
            pageClass: 'page-item',
            activeClass: 'activepagi',
            disabledClass: 'disabled',
            anchorClass: 'page-link',
        });

    </script>
    <%- include('include/footer') %>
    <%- footer %>

</body>

</html>