<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> มังงะ <%= title %> อ่าน แปลไทย - MoonManga</title>
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Mitr&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
    <style>
        .card:hover {
            background-size: 120% !important;
        }

        .btn-outline-info:hover {
            background-color: #1ba0e2 !important;
            color: white !important;
        }

        .boxep {
            border: 2px solid #c9c9c9;
            background-color: #c9c9c9;
            padding: 10px 20px;
            border-radius: 4px;
            color: #1b1b1b;
        }

        .boxep:hover {
            transition: .5s;
            border: 2px solid #ababab;
            background-color: #ababab;
            color: #1b1b1b;
        }
    </style>
</head>

<body style="font-family: 'Mitr' !important;">
    <div id="navbar">
        <nav id="na" class="navbar navbar-expand-lg navbar-dark">
            <div class="container"><a class="navbar-brand" href="/"><span style="color: #1ba0e2;">M</span>MANGA</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-info my-2 my-sm-0" type="submit"
                            style="border-color: #1ba0e2;color: #1ba0e2;">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>

    <div id="toTop" style="margin-top: -140px;color: white;">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-4 col-4">
                            <img src="<%= image %>"
                                style="border-radius: 4px;box-shadow:0 1px 3px 0 rgba(27,27,27,.1), 0 4px 8px 0 rgba(27,27,27,.1);"
                                width="100%" alt="">
                        </div>
                        <div class="col-md-6 col-6">
                            <h1 id="warp">
                                <p><%= title %> </p>
                            </h1>
                            <!-- <div id="paddingMobile"></div> -->
                            <div id="mobileStat">
                                <p> สถานะ : <%= status %> </p>
                                <p> ปีที่ออก : <%= year %> </p>
                                <% function formatNumber(num) {
                                    return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
                                  } %>
                                <p style="color: #1b1b1b;"> จำนวนคนอ่าน : <%= formatNumber(view) %> </p>
                            </div>
                            <div id="idreadfrist"></div>

                            <!-- <p style="color: #1b1b1b;width: 600px;"> เรื่องย่อ : <%= des %> </p> -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br>
        <div class="container" style="color: #1b1b1b;">
            <div class="row">
                <div class="col-md-4">
                    <div class="box" style="background-color: #1b1b1b;border-radius: 5px;padding:15px;color: white;">
                        asdas
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="box" style="background-color: #1b1b1b;border-radius: 5px;padding:15px;color: white;">
                        <strong><b>เรื่องย่อ :</b></strong>
                        <br>
                        <%= des %>
                        <% if (tags.length > 1) { %>
                        <hr style="color: white;background-color: #1ba0e2;">
                        <strong><b>หมวดหมู่ :</b></strong>
                        <br>
                        <% for( let i = 0; i < tags.length; i++ ) { %>
                        <a href=""><span class="badge badge-info" style="background-color: #1ba0e2;"><%= tags[i] %>
                            </span></a>
                        <% } %>
                        <% } %>

                    </div>
                </div>
            </div>
        </div>
        <br>
        <div id="episode">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <a href="" style="text-decoration: none;">
                            <div class="boxep" style="">
                                <center>กำลังโหลดข้อมูล</center>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.4.4/mobile-detect.min.js"></script>
        <script>

        </script>
    </div>

    <br><br><br>
    <br><br><br>
    <br><br><br>
    <br><br><br>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.4.4/mobile-detect.min.js"></script>
    <script>
        $.ajax({
            url: "/ajax/detail/ep/<%= name %>/", success: function (result) {
                $("#episode").html(result.substring(result.indexOf('<!-- start -->'), result.indexOf('<!-- end -->')));
                $("#idreadfrist").html(result.substring(result.indexOf('<!-- read -->'), result.indexOf('<!-- stop -->')));
            }
        });
        var md = new MobileDetect(window.navigator.userAgent);
        console.log(md.mobile());
        if (md.mobile() != null) {
            $('#warp').css('width', screen.width - 150);
            $('#mobileStat').hide();
            $('#mobileWatch').css('margin-top', '15px');

        } else {
            $('#paddingMobile').css('padding-top', '20px');
            $('#warp').css('white-space', 'nowrap');
        }
        var name = '<%= name %>';
        console.log(md.mobile());
        if (md.mobile() != null) {
            $('#na').css('background', '#1b1b1b');
            $('#toTop').css('margin-top', '40px');
            $('#toTop').css('color', '#1b1b1b');
        } else {
            $('#warp').css('white-space', 'nowrap');
            $('#navbar').css('height', '230px').css('background', '#1b1b1b');

        }

        $.ajax({
            url: "/ajax/index/updateall", success: function (result) {
                $("#updateall").html(result);
            }
        });
    </script>
    <%- include('include/footer') %>
</body>

</html>