<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> มังงะ <%= title %> ตอนที่ <%= ep %> อ่าน แปลไทย - MoonManga</title>
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Mitr&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
    <style>
        .card:hover {
            background-size: 120% !important;
        }

        .btn-outline-info:hover {
            background-color: #1ba0e2 !important;
            color: white !important;
        }

        .boxep {
            border: 2px solid #c9c9c9;
            background-color: #c9c9c9;
            padding: 10px 20px;
            border-radius: 4px;
            color: #1b1b1b;
        }

        .boxep:hover {
            transition: .5s;
            border: 2px solid #ababab;
            background-color: #ababab;
            color: #1b1b1b;
        }
    </style>
</head>

<body style="font-family: 'Mitr' !important;background-color: #1b1b1b;">
    <div id="navbar">
        <nav id="na" class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #1b1b1b;">
            <div class="container"><a class="navbar-brand" href="/"><span style="color: #1ba0e2;">M</span>MANGA</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <span style="margin-left:100px;"></span>
                        <span style="margin-left: 15px;"></span>
                        <li class="nav-item dropdown" id="">
                            <a href="../" class="btn btn-info btn-block"
                                style="border-color: #1ba0e2;background: #1ba0e2;color: white;"><i
                                    class="fas fa-home"></i></a>
                        </li>
                        <span style="margin-left: 15px;"></span>
                        <li class="nav-item dropdown" id="preEp">

                        </li>
                        <span style="margin-left: 15px;"></span>
                        <li class="nav-item dropdown" id="epall">
                        </li>
                        <span style="margin-left: 15px;"></span>
                        <li class="nav-item dropdown" id="nextEp">

                        </li>

                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-info my-2 my-sm-0" type="submit"
                            style="border-color: #1ba0e2;color: #1ba0e2;">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <br><br><br><br>
    <div class="container" style="color:white;">
        <center>
            <h1>อ่าน <%= title.replace('121455','') %> ตอนที่ <%= ep %> </h1>
            <br>
            <div class="row">
                <div class="col-md-9"></div>
                <div class="col-md-3">
                    <script>
                        function sizeval() {
                            d = document.getElementById("size_id").value;
                            var imageLen = parseInt('<%= image.length-2 %>');
                            $.ajax({
                                url: "/ajax/detail/changesize/" + d, success: function (result) {
                                    for (i = 0; i < imageLen; i++) {
                                        document.getElementsByClassName("image-resiponse")[i].style.width = d + "%";
                                    }

                                }
                            });
                        }
                    </script>
                    <select onchange="sizeval()" id="size_id" class="form-control">
                        <% if (session.sizeImage == undefined) { %>
                        <% for( let i = 1; i <= 10; i++ ) { %>
                        <% if (i == 7) { %>
                        <option value="70" selected> ขนาดรูปภาพ : 70%</option>

                        <% }else{ %>
                        <option value="<%= i%>0"> ขนาดรูปภาพ :<%= i%>0%</option>
                        <% } %>
                        <% } %>
                        <% }else{ %>
                        <% for( let i = 1; i <= 10; i++ ) { %>
                        <% if (i == session.sizeImage/10) { %>
                        <option value="session.sizeImage" selected> ขนาดรูปภาพ : <%= session.sizeImage%>%</option>

                        <% }else{ %>
                        <option value="<%= i%>0"> ขนาดรูปภาพ : <%= i%>0%</option>
                        <% } %>
                        <% } %>
                        <% } %>

                    </select>
                </div>
            </div>
            <br>
            <% for( let i = 1; i < image.length-2; i++ ) { %>
            <% if (session.sizeImage == undefined) { %>
            <img src="<%= image[i] %>" class="image-resiponse" width="70%" id="myImg"
                alt="อ่านมังงะ <%= title.replace('121455','') %> ตอนที่ <%= ep %> หน้า <%= i %>  ">
            <% }else{ %>
            <img src="<%= image[i] %>" class="image-resiponse" width="<%= session.sizeImage %>%" id="myImg"
                alt="อ่านมังงะ <%= title.replace('121455','') %> ตอนที่ <%= ep %> หน้า <%= i %>  ">
            <% } %>

            <br>
            <% } %>
        </center>

    </div>
    <br>
    <div class="container">
        <center>
            <div class="row">
                <div class="col-md-3 col-4">
                    <div id="b_preEp"></div>
                </div>
                <div class="col-md-6 col-4">
                    <div id="b_epall"></div>
                </div>
                <div class="col-md-3 col-4">
                    <div id="b_nextEp"></div>
                </div>
            </div>
        </center>
    </div>

    <br><br><br><br><br><br>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.4.4/mobile-detect.min.js"></script>
    <script>
        var md = new MobileDetect(window.navigator.userAgent);
        console.log(md.mobile());
        if (md.mobile() != null) {
            $('.container').css('padding', '0px');
            d = '100';
            var imageLen = parseInt('<%= image.length-2 %>');
            $.ajax({
                url: "/ajax/detail/changesize/" + d, success: function (result) {
                    for (i = 0; i < imageLen; i++) {
                        document.getElementsByClassName("image-resiponse")[i].style.width = d + "%";
                    }

                }
            });
        } else {
            // $('.container').css('padding', '0px');
        }
        $('document').ready(function () {
            var g = 0;
            var lastScrollTop = 0;
            $(window).scroll(function (event) {
                var st = $(this).scrollTop();
                if (st < 30) {
                    $('#navbar').fadeIn(500);
                } else {
                    if (st > lastScrollTop) {
                        console.log("down")
                        $('#navbar').fadeOut(500);
                        g = 0;

                    }
                    else if (st == lastScrollTop) {

                    }
                    else {
                        g += 1;
                        if (g >= 20) {
                            $('#navbar').fadeIn(500);
                            g = 0;
                        }
                        console.log("up")
                        console.log(g)
                    }
                }

                lastScrollTop = st;
            });
        });
        name = '<%= name %>';
        ep = '<%= ep %>';
        $.ajax({
            url: "/ajax/detail/allep/" + name + "/" + ep, success: function (result) {
                $("#epall").html(result.substring(result.indexOf('<!-- selection -->'), result.indexOf('<!-- end_selection -->')));
                $("#nextEp").html(result.substring(result.indexOf('<!-- next_ep -->'), result.indexOf('<!-- end_next_ep -->')));
                $("#preEp").html(result.substring(result.indexOf('<!-- pre_ep -->'), result.indexOf('<!-- end_pre_ep -->')));
                $("#b_epall").html(result.substring(result.indexOf('<!-- selection2 -->'), result.indexOf('<!-- end_selection2 -->')));
                $("#b_nextEp").html(result.substring(result.indexOf('<!-- next_ep -->'), result.indexOf('<!-- end_next_ep -->')));
                $("#b_preEp").html(result.substring(result.indexOf('<!-- pre_ep -->'), result.indexOf('<!-- end_pre_ep -->')));
            }
        });
    </script>
    <%- include('../include/footer') %>
</body>

</html>