<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="th" http-equiv="content-language" />
    <meta content="th" name="geo.country" />
    <meta content="Thailand" name="geo.placename" />
    <link rel="alternate" href="https://www.moonsmanga.com/" hreflang="th" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> มังงะ <%= title %> ตอนที่ <%= ep %> อ่าน แปลไทย - MoonsManga เว็บอ่านมังงะ ฟรี แปลไทย ครบทุกตอน อ่านการ์ตูน
    </title>
    <meta name="description"
        content="อ่านการ์ตูน <%= title %> <%= ep %> <%= title %> <%= ep %> มาแล้ว <%= title %> ตอน <%= ep %> TH แปลไทย ล่าสุด MoonsManga">
    <meta name="keywords"
        content="อ่านการ์ตูน <%= title %> <%= ep %>, เว็บอ่านการ์ตูน <%= title %> <%= ep %>, มังงะ <%= title %> <%= ep %>, มังงะแปลไทย <%= title %> <%= ep %>,manga <%= title %> <%= ep %>,อ่านการ์ตูนออนไลน์ <%= title %> <%= ep %>, แอพอ่านการ์ตูน, มือถือ,อ่านโทรศัพย์, อ่านการ์ตูน,มังฮวา,<%= title %> <%= ep %>">
    <link rel="icon" href="https://www.moonsmanga.com/views/views/favicon.ico">
    <link rel="apple-touch-icon" href="https://www.moonsmanga.com/views/views/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="https://www.moonsmanga.com/views/views/favicon.ico">

    <meta name="robots" content="noodp,noydir,index,follow,noarchive" />
    <meta property="og:locale" content="th_TH" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="www.moonsmanga.com" />
    <meta property="article:publisher" content="https://www.facebook.com/box.manga.page" />
    <meta property="fb:app_id" content="153313228407799" />

    <meta property="og:title"
        content="อ่มังงะ <%= title %> ตอนที่ <%= ep %> อ่าน แปลไทย - MoonsManga เว็บอ่านมังงะ ฟรี แปลไทย ครบทุกตอน อ่านการ์ตูน" />
    <meta property="og:description"
        content="อ่านการ์ตูน <%= title %> <%= ep %> <%= title %> <%= ep %> มาแล้ว <%= title %> ตอน <%= ep %> TH แปลไทย ล่าสุด MoonsManga" />
    <meta property="og:image" content="http://www.moonsmanga.com/favicon.png" />
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Mitr&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
    <%- header %> 

    <style>
        .card:hover {
            background-size: 120% !important;
        }

        .btn-outline-info:hover {
            background-color: #1ba0e2 !important;
            color: white !important;
        }

        .boxep {
            border: 2px solid #c9c9c9;
            background-color: #c9c9c9;
            padding: 10px 20px;
            border-radius: 4px;
            color: #1b1b1b;
        }

        .boxep:hover {
            transition: .5s;
            border: 2px solid #ababab;
            background-color: #ababab;
            color: #1b1b1b;
        }

        .resp-sharing-button__link,
        .resp-sharing-button__icon {
            display: inline-block
        }

        .resp-sharing-button__link {
            text-decoration: none;
            color: #fff;
            margin: 0.5em
        }

        .resp-sharing-button__link:hover {
            text-decoration: none;
            color: #fff;

        }

        .resp-sharing-button {
            border-radius: 5px;
            transition: 25ms ease-out;
            padding: 0.5em 0.75em;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif
        }

        .resp-sharing-button__icon svg {
            width: 1em;
            height: 1em;
            margin-right: 0.4em;
            vertical-align: top
        }

        .resp-sharing-button--small svg {
            margin: 0;
            vertical-align: middle
        }

        /* Non solid icons get a stroke */
        .resp-sharing-button__icon {
            stroke: #fff;
            fill: none
        }

        /* Solid icons get a fill */
        .resp-sharing-button__icon--solid,
        .resp-sharing-button__icon--solidcircle {
            fill: #fff;
            stroke: none
        }

        .resp-sharing-button--twitter {
            background-color: #55acee
        }

        .resp-sharing-button--twitter:hover {
            background-color: #2795e9
        }

        .resp-sharing-button--pinterest {
            background-color: #bd081c
        }

        .resp-sharing-button--pinterest:hover {
            background-color: #8c0615
        }

        .resp-sharing-button--facebook {
            background-color: #3b5998
        }

        .resp-sharing-button--facebook:hover {
            background-color: #2d4373
        }

        .resp-sharing-button--tumblr {
            background-color: #35465C
        }

        .resp-sharing-button--tumblr:hover {
            background-color: #222d3c
        }

        .resp-sharing-button--reddit {
            background-color: #5f99cf
        }

        .resp-sharing-button--reddit:hover {
            background-color: #3a80c1
        }

        .resp-sharing-button--google {
            background-color: #dd4b39
        }

        .resp-sharing-button--google:hover {
            background-color: #c23321
        }

        .resp-sharing-button--linkedin {
            background-color: #0077b5
        }

        .resp-sharing-button--linkedin:hover {
            background-color: #046293
        }

        .resp-sharing-button--email {
            background-color: #777
        }

        .resp-sharing-button--email:hover {
            background-color: #5e5e5e
        }

        .resp-sharing-button--xing {
            background-color: #1a7576
        }

        .resp-sharing-button--xing:hover {
            background-color: #114c4c
        }

        .resp-sharing-button--whatsapp {
            background-color: #25D366
        }

        .resp-sharing-button--whatsapp:hover {
            background-color: #1da851
        }

        .resp-sharing-button--hackernews {
            background-color: #FF6600
        }

        .resp-sharing-button--hackernews:hover,
        .resp-sharing-button--hackernews:focus {
            background-color: #FB6200
        }

        .resp-sharing-button--vk {
            background-color: #507299
        }

        .resp-sharing-button--vk:hover {
            background-color: #43648c
        }

        .resp-sharing-button--facebook {
            background-color: #3b5998;
            border-color: #3b5998;
        }

        .resp-sharing-button--facebook:hover,
        .resp-sharing-button--facebook:active {
            background-color: #2d4373;
            border-color: #2d4373;
        }

        .resp-sharing-button--twitter {
            background-color: #55acee;
            border-color: #55acee;
        }

        .resp-sharing-button--twitter:hover,
        .resp-sharing-button--twitter:active {
            background-color: #2795e9;
            border-color: #2795e9;
        }

        .resp-sharing-button--tumblr {
            background-color: #35465C;
            border-color: #35465C;
        }

        .resp-sharing-button--tumblr:hover,
        .resp-sharing-button--tumblr:active {
            background-color: #222d3c;
            border-color: #222d3c;
        }

        .resp-sharing-button--email {
            background-color: #777777;
            border-color: #777777;
        }

        .resp-sharing-button--email:hover,
        .resp-sharing-button--email:active {
            background-color: #5e5e5e;
            border-color: #5e5e5e;
        }

        .resp-sharing-button--pinterest {
            background-color: #bd081c;
            border-color: #bd081c;
        }

        .resp-sharing-button--pinterest:hover,
        .resp-sharing-button--pinterest:active {
            background-color: #8c0615;
            border-color: #8c0615;
        }
    </style>
</head>

<body style="font-family: 'Mitr' !important;background-color: #1b1b1b;">
    <div id="navbar">
        <nav id="na" class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #1b1b1b;">
            <div class="container"><a class="navbar-brand" href="/"><span style="color: #1ba0e2;">M</span>MANGA</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">หน้าแรก <span class="sr-only">(current)</span></a>
                        </li>

                        <span style="margin-left:130px;"></span>
                        <span style="margin-left: 15px;"></span>
                        <li class="nav-item dropdown" id="">
                            <a href="../" class="btn btn-info btn-block"
                                style="border-color: #1ba0e2;background: #1ba0e2;color: white;"><i
                                    class="fas fa-home"></i></a>
                        </li>
                        <span style="margin-left: 15px;"></span>
                        <li class="nav-item dropdown" id="preEp">

                        </li>
                        <span style="margin-left: 15px;"></span>
                        <li class="nav-item dropdown" id="epall">
                        </li>
                        <span style="margin-left: 15px;"></span>
                        <li class="nav-item dropdown" id="nextEp">

                        </li>

                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-info my-2 my-sm-0" type="submit"
                            style="border-color: #1ba0e2;color: #1ba0e2;">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <br><br><br><br>
    <div class="container" style="color:white;">
        <center>
            <h1>อ่าน <%= title.replace('121455','') %> ตอนที่ <%= ep %> </h1>
            <br>
            <div class="row">
                <div class="col-md-9"></div>
                <div class="col-md-3">
                    <script>
                        function sizeval() {
                            d = document.getElementById("size_id").value;
                            var imageLen = parseInt('<%= image.length-2 %>');
                            $.ajax({
                                url: "/ajax/detail/changesize/" + d, success: function (result) {
                                    for (i = 0; i < imageLen; i++) {
                                        document.getElementsByClassName("image-resiponse")[i].style.width = d + "%";
                                    }

                                }
                            });
                        }
                    </script>
                    <select onchange="sizeval()" id="size_id" class="form-control">
                        <% if (session.sizeImage == undefined) { %>
                        <% for( let i = 1; i <= 10; i++ ) { %>
                        <% if (i == 7) { %>
                        <option value="70" selected> ขนาดรูปภาพ : 70%</option>

                        <% }else{ %>
                        <option value="<%= i%>0"> ขนาดรูปภาพ :<%= i%>0%</option>
                        <% } %>
                        <% } %>
                        <% }else{ %>
                        <% for( let i = 1; i <= 10; i++ ) { %>
                        <% if (i == session.sizeImage/10) { %>
                        <option value="session.sizeImage" selected> ขนาดรูปภาพ : <%= session.sizeImage%>%</option>

                        <% }else{ %>
                        <option value="<%= i%>0"> ขนาดรูปภาพ : <%= i%>0%</option>
                        <% } %>
                        <% } %>
                        <% } %>

                    </select>
                </div>
            </div>
            <br>
            <% for( let i = 1; i < image.length-2; i++ ) { %>
            <% if (session.sizeImage == undefined) { %>
            <img src="<%= image[i] %>" class="image-resiponse" width="70%" id="myImg"
                alt="อ่านมังงะ <%= title.replace('121455','') %> ตอนที่ <%= ep %> หน้า <%= i %>  ">
            <% }else{ %>
            <img src="<%= image[i] %>" class="image-resiponse" width="<%= session.sizeImage %>%" id="myImg"
                alt="อ่านมังงะ <%= title.replace('121455','') %> ตอนที่ <%= ep %> หน้า <%= i %>  ">
            <% } %>

            <br>
            <% } %>
        </center>

    </div>
    <br>
    <div class="container">
        <center>
            <div class="row">
                <div class="col-md-3 col-4">
                    <div id="b_preEp"></div>
                </div>
                <div class="col-md-6 col-4">
                    <div id="b_epall"></div>
                </div>
                <div class="col-md-3 col-4">
                    <div id="b_nextEp"></div>
                </div>
            </div>
        </center>
    </div>

    <br>
    <div class="container">
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous"
            src="https://connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v6.0&appId=153313228407799&autoLogAppEvents=1"></script>
        <div colorscheme="dark" class="fb-comments" data-href="https://moonsmanga.com/manga/<%= title %>/read/<%= ep %>"
            data-width="100%" data-numposts="7"></div>
    </div>
    <br><br>
    <div class="container">
        <!-- Sharingbutton Facebook -->
        <a class="resp-sharing-button__link"
            href="https://facebook.com/sharer/sharer.php?u=https://moonsmanga.com/manga/<%= title %>/read/<%= ep %>"
            target="_blank" rel="noopener" aria-label="Facebook">
            <div class="resp-sharing-button resp-sharing-button--facebook resp-sharing-button--medium">
                <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path
                            d="M18.77 7.46H14.5v-1.9c0-.9.6-1.1 1-1.1h3V.5h-4.33C10.24.5 9.5 3.44 9.5 5.32v2.15h-3v4h3v12h5v-12h3.85l.42-4z" />
                    </svg></div>Facebook
            </div>
        </a>

        <!-- Sharingbutton Twitter -->
        <a class="resp-sharing-button__link"
            href="https://twitter.com/intent/tweet/?text=Super%20fast%20and%20easy%20Social%20Media%20Sharing%20Buttons.%20No%20JavaScript.%20No%20tracking.&amp;url=https://moonsmanga.com/manga/<%= title %>/read/<%= ep %>"
            target="_blank" rel="noopener" aria-label="Twitter">
            <div class="resp-sharing-button resp-sharing-button--twitter resp-sharing-button--medium">
                <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path
                            d="M23.44 4.83c-.8.37-1.5.38-2.22.02.93-.56.98-.96 1.32-2.02-.88.52-1.86.9-2.9 1.1-.82-.88-2-1.43-3.3-1.43-2.5 0-4.55 2.04-4.55 4.54 0 .36.03.7.1 1.04-3.77-.2-7.12-2-9.36-4.75-.4.67-.6 1.45-.6 2.3 0 1.56.8 2.95 2 3.77-.74-.03-1.44-.23-2.05-.57v.06c0 2.2 1.56 4.03 3.64 4.44-.67.2-1.37.2-2.06.08.58 1.8 2.26 3.12 4.25 3.16C5.78 18.1 3.37 18.74 1 18.46c2 1.3 4.4 2.04 6.97 2.04 8.35 0 12.92-6.92 12.92-12.93 0-.2 0-.4-.02-.6.9-.63 1.96-1.22 2.56-2.14z" />
                    </svg></div>Twitter
            </div>
        </a>

        <!-- Sharingbutton Tumblr -->
        <a class="resp-sharing-button__link"
            href="https://www.tumblr.com/widgets/share/tool?posttype=link&amp;title=Super%20fast%20and%20easy%20Social%20Media%20Sharing%20Buttons.%20No%20JavaScript.%20No%20tracking.&amp;caption=Super%20fast%20and%20easy%20Social%20Media%20Sharing%20Buttons.%20No%20JavaScript.%20No%20tracking.&amp;content=https://moonsmanga.com/manga/<%= title %>/read/<%= ep %>&amp;canonicalUrl=https://moonsmanga.com/manga/<%= title %>/read/<%= ep %>&amp;shareSource=tumblr_share_button"
            target="_blank" rel="noopener" aria-label="Tumblr">
            <div class="resp-sharing-button resp-sharing-button--tumblr resp-sharing-button--medium">
                <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path
                            d="M13.5.5v5h5v4h-5V15c0 5 3.5 4.4 6 2.8v4.4c-6.7 3.2-12 0-12-4.2V9.5h-3V6.7c1-.3 2.2-.7 3-1.3.5-.5 1-1.2 1.4-2 .3-.7.6-1.7.7-3h3.8z" />
                    </svg></div>Tumblr
            </div>
        </a>

        <!-- Sharingbutton E-Mail -->
        <a class="resp-sharing-button__link"
            href="mailto:?subject=Super%20fast%20and%20easy%20Social%20Media%20Sharing%20Buttons.%20No%20JavaScript.%20No%20tracking.&amp;body=https://moonsmanga.com/manga/<%= title %>/read/<%= ep %>"
            target="_self" rel="noopener" aria-label="E-Mail">
            <div class="resp-sharing-button resp-sharing-button--email resp-sharing-button--medium">
                <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path
                            d="M22 4H2C.9 4 0 4.9 0 6v12c0 1.1.9 2 2 2h20c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zM7.25 14.43l-3.5 2c-.08.05-.17.07-.25.07-.17 0-.34-.1-.43-.25-.14-.24-.06-.55.18-.68l3.5-2c.24-.14.55-.06.68.18.14.24.06.55-.18.68zm4.75.07c-.1 0-.2-.03-.27-.08l-8.5-5.5c-.23-.15-.3-.46-.15-.7.15-.22.46-.3.7-.14L12 13.4l8.23-5.32c.23-.15.54-.08.7.15.14.23.07.54-.16.7l-8.5 5.5c-.08.04-.17.07-.27.07zm8.93 1.75c-.1.16-.26.25-.43.25-.08 0-.17-.02-.25-.07l-3.5-2c-.24-.13-.32-.44-.18-.68s.44-.32.68-.18l3.5 2c.24.13.32.44.18.68z" />
                    </svg></div>E-Mail
            </div>
        </a>

        <!-- Sharingbutton Pinterest -->
        <a class="resp-sharing-button__link"
            href="https://pinterest.com/pin/create/button/?url=https://moonsmanga.com/manga/<%= title %>/read/<%= ep %>&amp;media=https://moonsmanga.com/manga/<%= title %>/read/<%= ep %>&amp;description=Super%20fast%20and%20easy%20Social%20Media%20Sharing%20Buttons.%20No%20JavaScript.%20No%20tracking."
            target="_blank" rel="noopener" aria-label="Pinterest">
            <div class="resp-sharing-button resp-sharing-button--pinterest resp-sharing-button--medium">
                <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path
                            d="M12.14.5C5.86.5 2.7 5 2.7 8.75c0 2.27.86 4.3 2.7 5.05.3.12.57 0 .66-.33l.27-1.06c.1-.32.06-.44-.2-.73-.52-.62-.86-1.44-.86-2.6 0-3.33 2.5-6.32 6.5-6.32 3.55 0 5.5 2.17 5.5 5.07 0 3.8-1.7 7.02-4.2 7.02-1.37 0-2.4-1.14-2.07-2.54.4-1.68 1.16-3.48 1.16-4.7 0-1.07-.58-1.98-1.78-1.98-1.4 0-2.55 1.47-2.55 3.42 0 1.25.43 2.1.43 2.1l-1.7 7.2c-.5 2.13-.08 4.75-.04 5 .02.17.22.2.3.1.14-.18 1.82-2.26 2.4-4.33.16-.58.93-3.63.93-3.63.45.88 1.8 1.65 3.22 1.65 4.25 0 7.13-3.87 7.13-9.05C20.5 4.15 17.18.5 12.14.5z" />
                    </svg></div>Pinterest
            </div>
        </a>
    </div>
    <br>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.4.4/mobile-detect.min.js"></script>
    <script>
        var md = new MobileDetect(window.navigator.userAgent);
        console.log(md.mobile());
        if (md.mobile() != null) {
            $('.container').css('padding', '0px');
            d = '100';
            var imageLen = parseInt('<%= image.length-2 %>');
            $.ajax({
                url: "/ajax/detail/changesize/" + d, success: function (result) {
                    for (i = 0; i < imageLen; i++) {
                        document.getElementsByClassName("image-resiponse")[i].style.width = d + "%";
                    }

                }
            });
        } else {
            // $('.container').css('padding', '0px');
        }
        $('document').ready(function () {
            var g = 0;
            var lastScrollTop = 0;
            $(window).scroll(function (event) {
                var st = $(this).scrollTop();
                if (st < 30) {
                    $('#navbar').fadeIn(500);
                } else {
                    if (st > lastScrollTop) {
                        console.log("down")
                        $('#navbar').fadeOut(500);
                        g = 0;

                    }
                    else if (st == lastScrollTop) {

                    }
                    else {
                        g += 1;
                        if (g >= 20) {
                            $('#navbar').fadeIn(500);
                            g = 0;
                        }
                        console.log("up")
                        console.log(g)
                    }
                }

                lastScrollTop = st;
            });
        });
        name = '<%= name %>';
        ep = '<%= ep %>';
        $.ajax({
            url: "/ajax/detail/allep/" + name + "/" + ep, success: function (result) {
                $("#epall").html(result.substring(result.indexOf('<!-- selection -->'), result.indexOf('<!-- end_selection -->')));
                $("#nextEp").html(result.substring(result.indexOf('<!-- next_ep -->'), result.indexOf('<!-- end_next_ep -->')));
                $("#preEp").html(result.substring(result.indexOf('<!-- pre_ep -->'), result.indexOf('<!-- end_pre_ep -->')));
                $("#b_epall").html(result.substring(result.indexOf('<!-- selection2 -->'), result.indexOf('<!-- end_selection2 -->')));
                $("#b_nextEp").html(result.substring(result.indexOf('<!-- next_ep -->'), result.indexOf('<!-- end_next_ep -->')));
                $("#b_preEp").html(result.substring(result.indexOf('<!-- pre_ep -->'), result.indexOf('<!-- end_pre_ep -->')));
            }
        });
    </script>
    <%- include('../include/footer') %>
    <%- footer %> 

</body>

</html>