<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="th" http-equiv="content-language" />
    <meta content="th" name="geo.country" />
    <meta content="Thailand" name="geo.placename" />
    <link rel="alternate" href="https://www.moonsmanga.com/" hreflang="th" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Tags มั้งหมด | MoonsManga อ่านการ์ตูน</title>
    <meta name="description"
        content="Tags  อ่านมังงะ manga แปลไทย มือถือ แอพอ่านการ์ตูน android ios iphone ipad การ์ตูนอัพเดทใหม่ทุกวัน มังฮวา">
    <meta name="keywords"
        content="อ่านการ์ตูน, เว็บอ่านการ์ตูน, มังงะ, มังงะแปลไทย,manga,อ่านการ์ตูนออนไลน์, แอพอ่านการ์ตูน, มือถือ,อ่านโทรศัพย์, อ่านการ์ตูน,มังฮวา,แท็ก,tags">
    <link rel="icon" href="http://www.moonsmanga.com/favicon.png">
    <link rel="apple-touch-icon" href="http://www.moonsmanga.com/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="http://www.moonsmanga.com/favicon.png">

    <meta name="robots" content="noodp,noydir,index,follow,noarchive" />
    <meta property="og:locale" content="th_TH" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="www.moonsmanga.com" />
    <meta property="article:publisher" content="https://www.facebook.com/box.manga.page" />
    <meta property="fb:app_id" content="153313228407799" />

    <meta property="og:title"
        content="อ่านการ์ตูน เว็บอ่านการ์ตูน อ่านการ์ตูนออนไลน์ อ่านมังงะ manga แปลไทย - moonsmanga.com" />
    <meta property="og:description"
        content=" อ่านมังงะ manga แปลไทย app แอพอ่านการ์ตูน android ios iphone ipad การ์ตูนอัพเดทใหม่ทุกวัน" />
    <meta property="og:url" content="https://www.moonsmanga.com/" />
    <meta property="og:image" content="http://www.moonsmanga.com/favicon.png" />
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Mitr&display=swap" rel="stylesheet">

    <style>
        .card:hover {
            background-size: 120% !important;
        }
    </style>
    <style>
        .download-btn {
            position: absolute;
            top: 5px;
            right: 25px;
            color: white;
            background-color: black;
            padding: 3px 9px;
            border-radius: 3px;
            opacity: 0;
            transition: 0.5s;
            border: 0px;
            text-decoration: none;
        }

        .download-btn:hover {
            color: black;
            background-color: white;
        }

        .btngro:hover .download-btn {
            opacity: 1;
        }

        .page-item a {
            position: relative;
            display: block;
            padding: .5rem .75rem;
            margin-left: -1px;
            line-height: 1.25;
            color: #343a40;
            background-color: #fff;
            border: 1px solid #dee2e6;
            text-decoration: none;

        }

        .activepagi a {
            text-decoration: none;
            background-color: #343a40 !important;
            color: white;
            border-color: #343a40 !important;
        }
    </style>
</head>


<body style="font-family: 'Mitr' !important;">
    <%- include('../include/nav_index') %>

    <div class="container">
        <h1>หมวดหมู่ ทังหมด</h1>
        <div class="row">
            <% for( let i = 0; i < tags.length; i++ ) { %>
            <div class="col-md-3 col-6" style="padding-right: 0px;">
                <a title="<%= tags[i].t_name %>" href="/tags/<%= tags[i].t_name; %>" alt style="text-decoration: none;color: #130C11;">

                    <div class="card"
                        style="margin-top: 5px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding:15px;">
                        <div style="text-align: center;"><strong> <%= tags[i].t_name %> </strong></div>

                    </div>
                </a>
            </div>

            <% } %>

        </div>
    </div>
    <br>
    <ul id="pagination-demo" class="justify-content-center">
    </ul>
    <br>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.4.4/mobile-detect.min.js"></script>
    <script
        src="https://www.jqueryscript.net/demo/Simple-Customizable-Pagination-Plugin-with-jQuery-Bootstrap-Twbs-Pagination/jquery.twbsPagination.js"></script>
    <script>
        $('#pagination-demo').twbsPagination({
            totalPages: 12,
            startPage: 1,
            visiblePages: 5,
            initiateStartPageClick: true,
            hideOnlyOnePage: true,
            href: '?page={{number}}',
            pageVariable: '{{page}}',
            totalPagesVariable: '{{total_pages}}',
            page: null,
            first: '',
            prev: 'Previous',
            next: 'Next',
            last: '',
            loop: false,
            onPageClick: null,

            paginationClass: 'pagination',
            nextClass: 'page-item next',
            prevClass: 'page-item prev',
            lastClass: 'page-item last',
            firstClass: 'page-item first',
            pageClass: 'page-item',
            activeClass: 'activepagi',
            disabledClass: 'disabled',
            anchorClass: 'page-link',
        });

    </script>
    <%- include('../include/footer') %>
</body>

</html>